// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-cerulean-blue: #2a52a3;
$color-fun-blue: #204186;
$color-polo-blue: #94a8d1;


$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-cerulean-blue-0: rgba(42, 82, 163, 0);
$color-cerulean-blue-60: rgba(42, 82, 163, 0.6);

// Typography

$ff-montserrat: "Montserrat", "Arial", sans-serif;
$ff-ardeco: "Ardeco", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
