.benefit {
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  min-height: 480px;
  padding: 20px;
  background-size: cover;
  border: 2px solid $color-white;

  @include vp-1023 {
    width: 300px;
    min-height: 400px;
    padding: 15px;
  }

  @include vp-767 {
    width: 260px;
    min-height: 350px;
  }

  &--round-all {
    border-radius: 180px;
  }

  &--apartment {
    background-image: url("../../images/image-apartment.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/image-apartment@2x.jpg");
    }
  }

  &--pond {
    background-image: url("../../images/image-pond.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/image-pond@2x.jpg");
    }
  }

  &--entrance {
    background-image: url("../../images/image-view-entrance-building.jpg");

    @include vp-767 {
      display: none;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/image-view-entrance-building@2x.jpg");
    }
  }

  &--unique {
    background-image: url("../../images/image-unique-pond.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/image-unique-pond@2x.jpg");
    }
  }

  &--tech {
    background-image: url("../../images/image-tech.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/image-tech@2x.jpg");
    }
  }

  &__number {
    margin: 0 0 16px;
    font-size: 80px;
    font-family: $ff-ardeco;
    line-height: 60px;

    @include vp-1023 {
      margin: 0 0 8px;
      font-size: 60px;
    }
    
    @include vp-767 {
      font-size: 56px;
      line-height: 50px;
    }
  }

  &__text {
    margin: 0 0 24px;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    @include vp-1023 {
      margin: 0 0 20px;
      font-size: 18px;
      line-height: 20px;
    }
    
    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
