.flats {
    padding: 0 0 80px;

    @include vp-767 {
        padding: 0 0 60px;
    }

    &__wrapper {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(180deg, $color-cerulean-blue-0 0%, $color-cerulean-blue-60 46.28%, $color-cerulean-blue 89%);
        
            @include vp-1023 {
              height: 100px;
            }
        
            @include vp-767 {
              height: 50px;
            }
          }
      }

      &__img {
        width: 100%;
        min-height: 700px;

        @include vp-1023 {
            min-height: 374px;
        }

        @include vp-767 {
            min-height: 200px;
        }
      }

      &__inner {
        position: absolute;
        text-align: center;
        bottom: 197px;
        left: 50%;
        transform: translateX(-50%);

        @include vp-1023 {
            bottom: 100px;
        }

        @include vp-767 {
            bottom: 48px;
        }
      }

      &__number {
        margin: 0 0 16px;
        font-size: 80px;
        font-family: $ff-ardeco;
        line-height: 60px;
    
        @include vp-1023 {
          margin: 0 0 8px;
          font-size: 56px;
          line-height: 50px;
        }
        
        @include vp-767 {
          font-size: 56px;
          line-height: 50px;
        }
      }
    
      &__text {
        margin: 0 0 19px;
        font-size: 22px;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
    
        @include vp-1023 {
          margin: 0 0 11px;
          font-size: 16px;
          line-height: 18px;
        }

        @include vp-767 {
          margin: 0 0 10px;
        }
      }

      &__icon {
        @include vp-1023 {
            width: 50px;
            height: 8px;
        }
      }
}