.quiet {
    padding: 48px 0 80px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 0 48px;

        @include vp-1023 {
            padding: 0 0 40px;
        }

        @include vp-767 {
            flex-direction: column;
            gap: 16px;
            padding: 0 0 32px;
        }
    }

    &__heading {
        padding: 0;
        margin: 0;
        font-family: $ff-ardeco;
        font-weight: 400;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        max-width: 360px;

        @include vp-1023 {
            font-size: 50px;
            line-height: 50px;
            max-width: 340px;
        }

        @include vp-767 {
            font-size: 44px;
            line-height: 40px;
            max-width: 100%;
            text-align: center;
        }
    }

    &__text {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 26px;
        max-width: 420px;

        @include vp-1023 {
            font-size: 16px;
            line-height: 22px;
            max-width: 340px;
        }

        @include vp-767 {
            font-size: 14px;
            line-height: 20px;
            max-width: 100%;
            text-align: center;
        }
    }

    &__image-wrapper {
        padding: 0 0 80px;
        width: 100%;

        @include vp-767 {
            padding: 0 0 60px;
        }
    }

    &__image {

        @include vp-1023 {
            height: 400px;
        }

        @include vp-767 {
            height: 200px;
        }
    }

    &__caption {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        max-width: 620px;

        @include vp-1023 {
            max-width: 600px;
        }

        @include vp-767 {
            max-width: 100%;
            gap: 24px;
        }
    }

    &__icon {

        @include vp-1023 {
            width: 50px;
            height: 8px;
        }
    }

    &__desc {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        text-align: center;

        @include vp-1023 {
            font-size: 16px;
            line-height: 22px;
        }
        
        @include vp-767 {
            font-size: 14px;
            line-height: 20px;
        }
    }
}