.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px 72px;
  max-width: 306px;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    column-gap: 60px;
  }

  @include vp-767 {
    column-gap: 32px;
  }

  &__link {
    display: flex;
    color: $color-white-20;

    &:hover,
    &:focus-visible {
      color: $color-white;
      outline: none;
    }
  }
}
